:root{
    --matte: #464646;
    --ivory: #ecf9fb;
    --wood: #aa8c50;
    --cherry: #d5b6bc;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--matte);
}

h1,
h2,
h3 {
    color: var(--cherry);
}

/* Sets flex-box for the header and establishes margins around it  */
.header-box{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    padding: 20px;
    background-color: var(--wood);
}

/* Establishes width of 'name' box and sets font size for the h1 */
.name {
    width: 50%;
    font-size: 55px;
    position: relative;
}

/* Establishes width of 'nav-bar' box  */
.nav-bar{
    width: 50%;
}

/* Allows ul to take up entirety of the 'nav-bar' box, sets a new flex-box with the children alligned in the center, and removes bullet points from the list */
.nav-bar ul{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    list-style-type: none;
}

/* Sets font size of li allows the items to flex within the box and auto adjust their spacing */
.nav-bar ul li{
    font-size: 30px;
    flex: 1 0 auto;
}

figure{
    width:100%;
    position: relative;
    background-image: url(../images/cherry-blossoms.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#headshot{
   width: 30%;
   margin-bottom: -3px;
   border: 10px;
   border-style: solid;
   border-color: var(--matte);
}

/* #banner {
    max-width: 100vw;
    position: absolute;
} */

section{
    background-color: var(--matte);
    padding: 10px;
    margin: 10px;
}

h2{
    /* background-color: var(--ivory); */
    font-size: 50px;
    margin-top: 20px;
}

/* Establishes flex-box around each of the three main sections and sets them to display in a row  */
.row{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
}

/* Creates a box for each of the h2, taking up the first 30% of the 'row' container, and aligns the text to the right of the box  */
.heading-box{
    width: 30%;
    text-align: right;
    padding-right: 20px
    
}

/* Creates a box for each of the different informational elements, setting them to take up the next 70% of the 'row' container  */
.card{
    background-color: var(--ivory);
    width: 70%;
    padding: 20px;
}

/* Creates container for each 'work-box' card  */
.work-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
}

/* Creates card for each image and text overlay, giving each half of the container's width and a third of its height  */
.work-box{
    position: relative;
    width: 50%;
    height: 33%;
    max-height: 400px;
    flex: 1 0 auto;
    padding: 15px;
    overflow: hidden;
}

/* Overrides the width setting from the 'work-box' in order to allow the latest image to take up its own row  */
#latest-work{
    min-width:100%;
}


/* Removes the text from the flow in order to position it over the image and sets styling for text  */
.overlay {
    position: absolute;
    top: 50%;
    left: 15px;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    background-color: var(--wood);
}

/* .work-box{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row; 
    padding: 20px;
    
} */

/* .work-box img{
    position: relative;
    max-width: 50%;
    max-height: 500px;
    flex: 1 0 auto;
    padding: 15px;
    object-fit: none;
}

#::before {
    content: "This is my text";
    position:absolute;
    left:0px;
    min-width: 50%;
    font-size: 200px;
    color:aqua;
} */


/* #cherry-blossom img{
    object-fit:fill;
} */

.row ul li{
    list-style-type: none;
}

@media screen and (max-width: 768px) {
   h2{
    background-color: aqua;
   }
   .row,
   .header-box {
    flex-direction: column;
   }
   .name,
   .nav-bar {
    width: 100%;
    text-align:center;
    }

    .heading-box,
    .card{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}
 
