:root{
    --matte: #464646;
    --ivory: #ecf9fb;
    --wood: #b19865;
    --cherry: #d5b6bc;
}

* {
    box-sizing: border-box;
    color: var(--matte);
}

body{
    background-color: var(--matte);
}

h1 {
    color: var(--matte);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2,
h3 {
    color: var(--cherry);
}

/* Sets flex-box for the header and establishes margins around it. Also extablishes it as a fixed element */
.header-box{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    padding: 20px;
    background-color: var(--cherry);
}

/* Establishes width of 'name' box and sets font size for the h1 */
.name {
    width: 50%;
    position: relative;
}

/* Establishes width of 'nav-bar' box  */
.nav-bar{
    width: 50%;
}

/* Allows ul to take up entirety of the 'nav-bar' box, sets a new flex-box with the children alligned in the center, and removes bullet points from the list */
.nav-bar ul{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    list-style-type: none;
}

/* Sets font size of li allows the items to flex within the box and auto adjust their spacing */
.nav-bar ul li{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex: 1 0 auto;
}

/* Uses pseudo-selectors to set different color states for the nav links  */
.nav-bar ul a{
    color: var(--matte);
}
.nav-bar ul a:visited{
    color: var(--matte);
}
.nav-bar ul a:hover{
    color: var(--ivory);
}
.nav-bar ul a:active{
    color: var(--wood);
}

/* Creates environment for heading image and background and positions it below the fixed header  */
figure{
    margin-top: 90px;
    width:100%;
    position: relative;
    background-image: url(../images/cherry-blossoms.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sets size contraints on the headshot image and creates border  */
#headshot{
   width: 30%;
   margin-bottom: -3px;
   border: 10px;
   border-style: solid;
   border-color: var(--wood);
   max-height: 400px;
   max-width: 400px;
}


/* Establishes flex-box around each of the three main sections and sets them to display in a row  */
.row{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    background-color: var(--matte);
    padding: 10px;
    margin: 10px;
}

/* Creates a box for each of the h2, taking up the first 30% of the 'row' container, and aligns the text to the right of the box  */
.label-box{
    width: 30%;
    text-align: right;
    padding-right: 5%;
    /* margin-right: 5%;
    border-width: 10px;
    border-right-style: solid;
    border-color: var(--wood); */
}

.label-box h2{
    font-size: 50px;
    margin-top: 20px;
}

/* Creates a box for each of the different informational elements, setting them to take up the next 70% of the 'row' container  */
.card{
    background-color: var(--ivory);
    width: 70%;
    padding: 20px;
}


/* Creates container for each 'work-box' card  */
.work-container {
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    padding-bottom: 20px;
    background-color: var(--matte);
}

/* Creates card for each image and text overlay, giving each half of the container's width and a third of its height  */
.work-image-box{
    position: relative;
    width: 42%;
    height: 33%;
    max-height: 400px;
    flex: 1 0 auto;
    margin: 5px;
    overflow: hidden;
    border-style: solid;
    border-width: 7px;
    border-color: var(--wood);
}

/* Creates shadow around images while they're being hovered over  */
.work-image-box:hover {
    box-shadow: 0px 0px 15px var(--cherry);
}

/* Overrides the width setting from the 'work-box' in order to allow the latest image to take up its own row  */
#latest-work{
    min-width:100%;
}

/* Removes the text from the flow in order to position it over the image and sets styling for text  */
.overlay {
    position: absolute;
    top: 40%;
    left: 0px;
    padding: 10px;
    width: 250px;
    background-color: var(--wood);
}
.overlay h3{
    font-weight: bold;
    font-size: 35px;
}

/* Creates box for contact li's  */
#contact ul{
    display: flex;
    flex-wrap:nowrap;
    flex-direction:row;
}

/* Sets positioning for contact li's  */
#contact ul li{
    list-style-type: none;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: 10px;
    width: 25%;
}

footer{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
   
   .row,
   .header-box {
    flex-direction: column;
   }

   .name,
   .nav-bar {
    width: 100%;
    text-align:center;
    }

    .label-box,
    .card,
    .work-container{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .label-box{
        padding-bottom: 10px;
       }

    figure{
        margin-top: 120px;
    }
}
 
