:root{
    --matte: #464646;
    --ivory: #f3fde0;
    --wood: #aa8c50;
    --cherry: #d5b6bc;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--wood);
}

h1,
h2,
h3 {
    color: var(--matte);
}

.name {
    width: 50%;
    font-size: 25px;
}


.nav-bar{
    text-align:initial;
    width: 50%;
}

.nav-bar ul{
    height: 100%;
    align-items: center;
    display: flex;
}
header nav li{
    display: inline;
    font-size: 30px;
    flex: 1 0 auto;

}

section{
    background-color: var(--matte);
    padding: 10px;
    margin: 10px;
}

h2{
    background-color: var(--ivory);
    font-size: 50px;
    margin-top: 20px;
}


.row{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    /* justify-content: center; */
    /* align-content: space-between; */
}


.work-box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    /* align-content: space-between; */
    padding: 20px;
    
}

/* #cherry-blossom{
    flex: 0 2 100%;
} */
img{
    max-height: 200px;
    flex: 0 0 auto;
    margin: 15px;
}

.heading-box{
    width: 20%;
    text-align: right;
    margin-right: 20px
    
}

.card{
    background-color: var(--cherry);
    width: 70%;
    padding: 20px;
}

@media screen and (max-width: 768px) {
   h2{
    background-color: aqua;
   }
   .row {
    flex-direction: column;
   }
    }
