:root{
    --matte: #464646;
    --ivory: #f3fde0;
    --wood: #aa8c50;
    --cherry: #d5b6bc;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--wood);
}

h1,
h2,
h3 {
    color: var(--matte);
}

/* Sets flex-box for the header and establishes margins around it  */
.header-box{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    margin: 20px;
}

/* Establishes width of 'name' box and sets font size for the h1 */
.name {
    width: 50%;
    font-size: 55px;
    position: relative;
}

/* Establishes width of 'nav-bar' box  */
.nav-bar{
    width: 50%;
}

/* Allows ul to take up entirety of the 'nav-bar' box, sets a new flex-box with the children alligned in the center, and removes bullet points from the list */
.nav-bar ul{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    list-style-type: none;
}

/* Sets font size of li allows the items to flex within the box and auto adjust their spacing */
.nav-bar ul li{
    font-size: 30px;
    flex: 1 0 auto;
}

figure{
    width:100%;
}
#headshot{
   width: 50%;
}

section{
    background-color: var(--matte);
    padding: 10px;
    margin: 10px;
}

h2{
    background-color: var(--ivory);
    font-size: 50px;
    margin-top: 20px;
}

/* Establishes flex-box around each of the three main sections and sets them to display in a row  */
.row{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
}

/* Creates a box for each of the h2, taking up the first 30% of the 'row' container, and aligns the text to the right of the box  */
.heading-box{
    width: 30%;
    text-align: right;
    padding-right: 20px
    
}

/* Creates a box for each of the different informational elements, setting them to take up the next 70% of the 'row' container  */
.card{
    background-color: var(--cherry);
    width: 70%;
    padding: 20px;
}

.work-box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row; 
    padding: 20px;
    
}

.work-box img{
    width: 50%;
    flex: 1 0 auto;
    padding: 15px;
}

#cherry-blossom{
    flex: 0 0 100%;
}

.row ul li{
    list-style-type: none;
}

@media screen and (max-width: 768px) {
   h2{
    background-color: aqua;
   }
   .row {
    flex-direction: column;
   }
   .name,
   .nav-bar {
    width: 100%;
    text-align:center;
    }

    .heading-box,
    .card{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}
 
