:root{
    --matte: #464646;
    --ivory: #f3fde0;
    --wood: #aa8c50;
    --cherry: #d5b6bc;
}

body{
    background-color: var(--wood);
}


header nav li{
    display: inline;
}

h1,
h2,
h3 {
    color: var(--matte);
}

section{
    background-color: var(--matte);
    padding: 10px;
    margin: 10px;
}

h2{
    background-color: var(--ivory);
}

.card{
    background-color: var(--cherry);
}



.row{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}


.work-box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:baseline;
    /* align-content: space-between; */
    padding: 20px;
    
}

#cherry-blossom{
    flex: 0 0 100%;
}
img{
    max-height: 200px;
    flex: 0 0 auto;
    margin: 15px;
}

.about-me-card{
    display: inline;
    
}